@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;800;900&display=swap');

*{
  margin:0;
  padding:0;
}

body {
  background: rgb(182, 181, 181);
}

.App{
  display: flex;
  justify-content: center;
  background-image: url('../img/front3.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
  
  opacity: 0.9;
}
