body {
    min-height: 100vh;
}
#welcomePage {
    display: flex;
    flex-direction: column;
    margin-top: 0 auto;  /* esto se cambio */
    /* margin-top: 100px; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    padding-top: 5%;  /* esto se aumento */
}
.title-main {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    font-size: 60px;
    margin:5px;
    margin-top: 30px;
    color:rgba(27, 26, 26, 0.938);
    text-shadow:  #70BF5A ;
    text-shadow: -1px 0 #59AFCA, 0 1px #59AFCA, 1px 0 #59AFCA, 0 -1px #59AFCA, -1px 1px 0 #59AFCA, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
}
p {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%; /* esto se aumento */
}
.logo-welcome{
    width:40%;
    height:40%;
}
.containerGetInto, .containerLogin {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: rgb(230, 152, 8);
    border-radius: 10px;
    margin-top: 25px;
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 0px;
}
.linkRegister, .linkLogin {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 2%; /* esto se cambio */
    color: #8d2ca5;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 768px) {
    /* #welcomePage {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right:auto;
    }
    .title-main {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight:bold;
        font-size: 60px;
        margin:5px;
        margin-top: 30px;
        color:rgba(27, 26, 26, 0.938);
        text-shadow:  #70BF5A ;
        text-shadow: -1px 0 #59AFCA, 0 1px #59AFCA, 1px 0 #59AFCA, 0 -1px #59AFCA, -1px 1px 0 #59AFCA, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
    }
    p {
        color: whitesmoke;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    .logo-welcome{
        width:40%;
        height:40%;
    }
    .containerGetInto {
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #91C9FF;
        outline: none;
        transition: 1s ease-in-out;
        background-color: rgb(230, 152, 8);
        border-radius: 10px;
        margin-top: 25px;
        padding: 2px;
        padding-top: 8px;
        padding-bottom: 0px;
    }
    .linkWelcome {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 30px;
        margin-top: 50px;
        color: #8d2ca5;
        font-size: 33px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    } */
}
