.titleMain {
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold; 
    font-size: 40px; 
    margin:5px;
    margin-top: 30px;
    color:  #030303 ; 
    text-shadow:  #70BF5A ; 
    text-shadow: -1px 0 #59AFCA, 0 1px #59AFCA, 1px 0 #59AFCA, 0 -1px #59AFCA, -1px 1px 0 #59AFCA, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
}
.textContainer {
    background-color: rgb(252, 247, 247);
    display: flex;
    justify-content:center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px #666464;
    /* max-width: 80%; */
    max-width: 65%;
    height: 27em;
    flex-direction: column;
}
h3{
    font-size: 30px;
    color:#8d2ca5;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 8px;
}
label{
    font-size: 15px;
    font-family: sans-serif;;
    text-align: left;
    margin-left: 10%;
}
#loginEmail, #loginPassword{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border-color: rgba(107, 105, 105, 0.644);
    margin-bottom: 1%;
    width: 80%;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    font-family: sans-serif;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
    color: #000000;
   /* margin-left: 20%; */
}
#messagePassword, #errorCodeMessage{
    font-size: 18px;
    color:#f30000;
    font-family: inherit;
}
#getInto {
    /* background-color:#4C80CA */
    background-color: rgb(230, 152, 8);
    border-radius: 10px;
    display: flex;
    border: none;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    font-family: sans-serif;
    font-size:16px;
    margin: auto;
    width: 75%;
    margin-bottom: 3%;
    size: 20PX;
}
#buttonGoogle {
    border-radius: 10px;
display: flex;
border: none;
justify-content: center;
color: rgb(0, 0, 0);
background: rgba(218, 213, 213, 0.521);
cursor: pointer;
padding: 16px 32px;
text-align: center;
font-size: 1.1rem;
margin-top: 0px;
font-family: sans-serif;
margin: auto;
width: 75%;
margin-bottom: 3%;
}
#registerLink{
    color: #030303;
    margin:1px;
    text-align: center; 
}
#buttonBackHome{
    background-color:#4C80CA ;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 10px 10px; 
    text-align: center;
    font-family:" EB Garamond";
    font-size:20px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 0%;
}
