.container{
    display: flex;
    margin-top: 40px;
    min-width: 50%;
    width: calc((50em - 100%) * 1000);
    border-radius: 20px;
    height: 550px;
    max-width: 100%;
    background-color: #F7A82F;
    text-align: center;
    box-shadow: #6C6868 13px 13px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.containerElements{
      flex-direction: column;
}

article{
    position: absolute;
    margin: 0 50px;
    color: #27213B;
}
.img{
    padding: 20px 40px 20px;
    width: 45%;
}

.btnEnter{
    width: 400px;
    height: 4em;
    background-color: #F13765;
    color: #27213B;
    border-radius: 10px;
    border-width:1px;
    border-color: #27213B;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.btnEnter:hover{
    background-color: transparent;
    cursor: pointer;
}