.container{
    display: flex;
    margin-top: 40px;
    /* min-width: 50%; */
    width: calc((50em - 100%) * 1000);
    border-radius: 20px;
    /* height: 550px;
    max-width: 100%; */
    background-color: #F7A82F;
    text-align: center;
    box-shadow: #6C6868 13px 13px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.containerElements{
      flex-direction: column;
}

.img{
    padding: 20px 40px 20px;
    width: 35%;
}

.input{
    width: 16em;
    height: 2em;
    border-radius: 10px;
    border-width:1px;
    border-color: #000;
    margin: 10px;
    box-shadow: 3px 3px 5px #000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.btnLogin{
    width: 400px;
    height: 4em;
    background-color: #F13765;
    border-radius: 10px;
    color: #fff;
    border-width:1px;
    border-color: #000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.infoPassword{
    margin-left: 53px;
    margin-bottom: 10px;
}

.containerLogosGmailFacebook img{
    width: 80px;
}
